.brand-section {
  /* color: #040424; */
  /* color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 40px;
  z-index: 100;
}
.brand-section-logos {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.brand-title {
  margin-bottom: 30px;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .brand-section-logos {
    width: auto;
  }
}
