.unordered-list li {
  display: inline-block;
  margin: 10px;
  padding: 10px 12px;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17.5px;
}

.style-one li {
  color: var(--text-color);
  background-color: transparent;
}

.style-two li {
  color: var(--background-color-white);
  background-color: var(--text-color);
}

.style-three li {
  color: var(--text-color);
  background-color: transparent;
}

.style-four li:hover {
  color: var(--red);
  background-color: transparent;
}

.unordered-list li:hover {
  background-color: var(--yellow);
  color: var(--text-color);
}
