.introduction {
  background-color: var(--background-color-white);
  height: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inner-introduction-container {
  /* border: solid 1px black; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  flex-wrap: wrap;
}
