.section-title {
  height: 200px;
  padding: 100px 20% 130px 20%;
  width: 100%;
  letter-spacing: -5px;
  align-items: center;
  flex-direction: column;
  min-width: 310px;
  display: flex;
}

.internal-title {
  min-width: 610px;
  padding: 0px;
}

.section-title-content {
  font-size: 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section-title {
    padding: 100px 12% 130px 12%;
    display: block;
  }
  .internal-title {
    min-width: auto;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 80px 10% 0px 10%;
    height: 150px;
    display: block;
  }
  .section-title-content {
    font-size: 50px;
    letter-spacing: -3px;
  }
  .internal-title {
    min-width: auto;
  }
}
