.section-title {
  height: 250px;
  padding: 100px 20% 200px 20%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.section-title-content {
  font-size: 100px;
}
