.description {
  display: flex;
  padding: 10px;
  margin: 10px 5%;
  /* border: solid 1px black; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reversed {
  flex-direction: row-reverse;
}

.image-svg {
  width: 170px;
}

.image-title {
  font-size: 20px;
}
