.name-logo {
  font-size: 30px;
  letter-spacing: -0.5px;
  transition: color 0.2s ease;
}

.name-logo:hover {
  color: var(--red);
}

@media (max-width: 1023px) {
  .name-logo {
    font-size: 25px;
    letter-spacing: -0.2px;
    transition: none;
  }

  .name-logo:hover {
    color: var(--text-color);
  }
}
