.name-logo {
  font-size: 30px;
  letter-spacing: -0.5px;
  transition: color 0.2s ease;
}

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.name-logo:hover {
  color: var(--red);
}
