nav {
  /* border: solid black 2px; */
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-icon {
  font-size: 50px;
  align-items: center;
  color: black;
  transition: color 0.3s ease;
}

.home-icon:hover {
  color: coral;
}

.home {
  padding-left: 5%;
}

.buttons-header {
  padding-right: 5%;
}
