nav {
  /* border: solid black 2px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: 10;
}

nav.scrolled {
  background-color: var(--background-color-white);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

/* .home-icon {
  font-size: 30px;
  align-items: center;
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
} */

.home {
  padding-left: 7.5%;
}

.buttons-header {
  padding-right: 5%;
}

.logo-link {
  text-decoration: none;
  color: var(--text-color);
}
