.description {
  display: flex;
  padding: 10px 0px;
  /* border: solid 1px black; */
  height: 300px;
}

.reversed {
  flex-direction: row-reverse;
}

.image-svg {
  width: 300px;
}

.text-area {
  width: 100%;
  padding: 60px;
  align-items: center;
}
