.banner {
  /* border: solid black 2px; */
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-size: cover;
}

em {
  font-style: normal;
}

.banner-center {
  position: relative;
  overflow: hidden;
  height: 300px;
  /* padding: 80px 100px; */
  background-color: transparent;
  /* border-radius: 70px; */
}

.content {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.banner-quote {
  font-size: 60px;
  letter-spacing: -2.5px;
  word-spacing: 0.5px;
}

.job-titles {
  margin-top: 30px;
  font-size: 23px;
}

#button-panel {
  padding-top: 30px;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dashboard-buttons {
  margin-top: 30px;
  display: inline-block;
}

.dashboard-buttons button {
  margin: 0px 10px;
  padding: 5px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    background-color: black;
  }
  .banner-center {
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  }

  /* h1 {
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  p {
    color: white;
  } */
}

@media (max-width: 767px) {
  .banner {
    background-color: #05071b;
    /* background-image: none; */
  }

  .banner-center {
    height: 200px;
    width: 100%;

    background-color: white; /* Inherit background */
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}
